<h1>Seja Bem Vindo!!</h1>
<!-- <p><% "Embedded Ruby without output" %></p> -->
<!-- <p><%= "Embedded Ruby with output" %></p> -->
<!-- <p><%# "Embedded Ruby comment" %></p> -->
<!-- <p>O meu nome reverso é: <%="Ana Gabriella".reverse%></p> -->
<p> <strong>A data de hoje é: </strong><%= dataBrasil(Date.today) %></p>
<%# Todo método escrito num helper, estará automaticamente disponível em sua view %>
<!--  helper: link_to: tag <a> html. é melhor usar código Ruby que html puro-->
<%# link/-to "texto do scr" , path  %>
<p> <%= link_to "Cadastro de Moedas", coins_path %> <p>

<p><%= nome_aplicacao %></p>
<p>Você está em um ambiente de <strong><%= ambiente_rails%></strong> </p>

<%# Para cada sessão/instancia do browser a @variavel  é criada e tem seu valor unico  %>
<%# As variaveis de instancia @variavel são quem passam dados do controller para a view%>
<p>Variavel de instancia/sessão: <%= @nome %></p>